<footer style="position: fixed; bottom: 10px; right: 10px; text-align: right;">
    <p>Copyright &copy; 2024</p>
    <p>Made with ❤️ by <a href="https://github.com/Hicham1970">Hicham Garoum</a></p>
</footer>