<!DOCTYPE html>
<html lang="en">
<%- include('./Partials/head.ejs') %>

    <body>
        <%- include('./Partials/nav.ejs') %>

            <div class="blogs content">
                <h1>Page About</h1>
                <p>Cette page est la page d'about de ce projet, elle peut contenir l’intérêt de la page </p>
            </div>

            <%- include('./Partials/footer.ejs') %>
    </body>

</html>