<!DOCTYPE html>
<html lang="en">
<!--Injection de head-->
<%- include('./Partials/head.ejs') %>

    <body>
        <!--Injection de la nav tag -->
        <%- include('./Partials/nav.ejs') %>
            <div class="create-blog content">
                <div class="container">
                    <form action="/post" method="post">
                        <label for="reg_no">Registration Number :</label>
                        <input type="text" name="reg_no">
                        <label for="name">Name :</label>
                        <input type="text" name="name">
                        <label for="email">Email :</label>
                        <input type="email" name="email">
                        <label for="branche">Branch :</label>
                        <select name="branche">
                            <option value="SCZ">SCZ</option>
                            <option value="IT">IT</option>
                            <option value="EFE">EFE</option>
                            <option value="SKA">SKA</option>
                            <option value="MOP">MOP</option>
                        </select>
                        <label for="phone">Phone N° :</label>
                        <input type="text" name="phone">
                        <label for="address">Address :</label>
                        <input type="text" name="address">
                        <button type="submit">Submit</button>
                    </form>
                </div>
                <!--Injection du footer-->
                <%- include('./Partials/footer.ejs') %>
    </body>

</html>